/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
*/


html,
body {
  height: 100%;
}

.edit {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
  background-color: #fafafa;
}

.ed_nav {
  background-color: #fafafa;
  padding: 0;
  order: 0;
}

.ed_header {
  flex-basis: 75px;
  order: 2;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: height .2s ease-in-out;
  height: 77px;
  font-family: 'Pacifico', cursive;
  z-index: 100;
}

.ed_col {
  display: flex;
  flex-direction: row;
  height: 77px;
  justify-content: center;
  max-width: 1010px;
  padding: 10px 20px 26px;
  transition: height .2s ease-in-out;
  width: 100%;
}

.ft {
  position: fixed;
  top: auto;
  right: 0;
  left: 0;
  bottom:0;
  z-index: 100;
}

.footer {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  order: 5;
  padding: 0 20px;
  background-color: #fafafa;
  vertical-align: baseline;
  border-top: solid 1px #efefef;
}

.ft-icon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 935px;
  width: 100%;
  justify-content: space-around
}

nav.ft-nav {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.ft-ul {
  flex-grow: 1;
  margin-left: 18%;
}

.ft-link {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 18px;
  font-weight: 600;
  color: dark_navy;
  font-size: 14px;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 600;
  vertical-align: baseline;
  text-align: center;
  color: #999;
}
