// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.signup {
  height: 100;
  width: 100%;
  background-color: #fafafa;
  display: flex;
}

// .row {
//   height: 100%;
//   width: 100%;
// }
.content {
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 30px auto 0;
  max-width: 935px;
  padding-bottom: 44px;
  width: 100%;
}

.signup-image {
  align-self: center;
  background-position: 0 0;
  background-image: url("/images/9364675fb26a.png");
  background-size: 454px 618px;
  background-repeat: no-repeat;
  flex-basis: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
}

.signup-form {
  color: #262626;
  max-width: 350px;
  width: 100%;
  margin-top: 12px;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
}

.form-cont {
  background-color: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 1px;
  padding: 0 0 10px;
  margin: 10px 0;
}

article, div {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.xform {
  display: flex;
  flex-direction: column;
}

.signup-form h1 {
  height: 51px;
  width: 175px;
  font-family: 'Pacifico', cursive;
  margin: 22px auto 20px;
}

.signup-form h2 {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  color: #999;
  text-align: center;
}

.fb-btn {
  margin: 8px 40px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.fb-icon {
  margin-right: 8px;
  top: 3px;
  font-size: 16px;
}


.fb-link {
  background-color: #3897f0;
  border: solid 1px #3897f0;
  outline: 0!important;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 5px 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
}

.select-form {
  margin: 10px 40px 18px;
  flex-direction: row;
}

.sel {
  flex-grow: 0;
  flex-shrink: 0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  color: #999;
  text-transform: uppercase;
}

.bord {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #efefef;
  height: 1px;
  position: relative;
  top: .45em;
}


.signup-form dd {
  margin: 6px 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  text-align: start;
  cursor: text;
  color: initial;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  font-size: 12px;
  font-weight: 200;
  height: 36px;
}

input[type="submit"] {
  margin: 8px 40px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background-color: #3897f0;
  border: solid 1px #3897f0;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
