// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザ詳細ページレイアウト

.container-fluid.signup {
  height: 100;
  width: 100%;
  background-color: #fafafa;
  display: flex;
}

.content {
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 30px auto 0;
  max-width: 935px;
  padding-bottom: 44px;
  width: 100%;
}

.signup-image {
  align-self: center;
  background-position: 0 0;
  background-image: url("/images/9364675fb26a.png");
  background-size: 454px 618px;
  background-repeat: no-repeat;
  flex-basis: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
}

.signup-form {
  color: #262626;
  max-width: 350px;
  width: 100%;
  margin-top: 40px;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
}

.form-cont {
  background-color: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 1px;
  padding: 0 0 10px;
  margin: 10px 0;
}

article, div, footer {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.xform {
  display: flex;
  flex-direction: column;
}

.signup-form h1 {
  height: 51px;
  width: 175px;
  font-family: 'Pacifico', cursive;
  margin: 22px auto 20px;
}

.signup-form h2 {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  color: #999;
  text-align: center;
}

.fb-btn {
  margin: 8px 40px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.fb-icon {
  margin-right: 8px;
  top: 3px;
  font-size: 16px;
}

.fb-link {
  background-color: #3897f0;
  border: solid 1px #3897f0;
  outline: 0!important;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 5px 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
}

.select-form {
  margin: 10px 40px 18px;
  flex-direction: row;
}

.sel {
  flex-grow: 0;
  flex-shrink: 0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  color: #999;
  text-transform: uppercase;
}

.bord {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #efefef;
  height: 1px;
  position: relative;
  top: .45em;
}

.signup-form dd {
  margin: 6px 40px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  text-align: start;
  cursor: text;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  font-size: 12px;
  font-weight: 200;
  height: 36px;
}

input[type="submit"] {
  background-color: #3897f0;
  border: solid 1px #3897f0;
  outline: 0!important;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
}

.er-mg {
  color: red;
  list-style-type: none;
  font-size: 12px;
}

.policy {
  color: #999;
  margin: 10px 60px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 600;
}

.policy a {
  text-decoration: none;
}

.acount {
  background-color: #fff;
  color: #262626;
  max-width: 350px;
  width: 100%;
  margin-top: 0;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  border: solid 1px #e6e6e6;
  border-radius: 1px;
}

p.login-link {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.dl p {
  text-align: center;
  font-weight: normal;
  margin: 20px;
}

.dl-icon {
  display: flex;
  justify-content: center;
}

.app {
  background-image: url("/images/app.png");
  background-size: 130px 40px;
  background-repeat: no-repeat;
  flex-basis: 130px;
  height: 40px;
  margin-right: 8px;
}

.google {
  background-image: url("/images/google.png");
  background-size: 130px 40px;
  background-repeat: no-repeat;
  flex-basis: 130px;
  height: 40px;
}

// ---------------------------------------------------------------------------------
// ユーザ編集ページ レイアウト

.ed_content {
  flex-grow: 1;
  order: 4;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fafafa;
}

.BvMHM {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 100px auto 0;
  max-width: 935px;
  overflow: hidden;
  width: 100%;
}

.EzUlV {
  flex-direction: row;
  flex-grow: 1;
  justify-content: stretch;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ul.wW1cu {
  border-right: solid 1px #dbdbdb;
  flex-basis: 236px;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.h-aRd {
  border-left: solid 2px transparent;
  display: block;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  padding: 16px 16px 16px 30px;
  width: calc(100% - 48px);
  cursor: pointer;
  display: list-item;
  text-decoration: none;
}

.ed_article {
  flex: 1 1 400px;
  main-width: 50px;
}

.ed_bar {
  flex-diraction: row;
  margin: 32px 0 0;
  justify-content: flex-start;
}

.ed_pro {
  height: 38px;
  width: 38px;
}

.M-jxE {
  backgrond-color: #fafafa;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.IalUJ {
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  text-rendering: auto;
  margin-left: 4em;
}

.ed_img {
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.XX1Wc {
  flex: 0 1 auto;
  margin-left: 4.6em;
  font-size: 50px;
  line-height: 22px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ed_row {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 7em;
}

.ed_f {
  margin: 6px 40px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  text-align: start;
  cursor: text;
}

.eE-OA {
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: flex-start;
}

.ed_l {
  padding-right: 32px;
  text-align: right;
  margin-top: 6px;
  flex: 0 0 194px;
  box-sizing: border-box;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.ed_er {
  color: red;
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 4em;
}

// ------------------------------------------------------------------------
// ユーザ詳細ページレイアウト

.sh_main {
  flex-grow: 1;
  order: 3;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
  background-color: #fff;
}

.sh_d1 {
  margin-bottom: 0;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 753px;
  width: 100%;
  height: auto;
  background-color: #fafafa;
  z-index: 1;
}

.sh_hd {
  border-bottom: none;
  margin-bottom: 24px;
  paddint-bottom: 0;
  flex-direction: row;
  display: flex;
}

.sh_icon {
  flex-shrink: 0;
}

.sh_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 150px;
  width: 150px;
}

.sh_img2 {
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.img_btn {
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

.sh_pro {
  color: #262626;
  flex-shrink: 1;
  min-width: 935px;
}

.sh_ed {
  align-items: center;
  flex-direction: row;
  flex-shrink: 1;
  min-width: 0;
}

.sh_name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #262626;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
}

.sh_link {
  flex-direction: row;
  flex-shrink: 0;
  margin-left: 5px;
}

.link_btn {
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  padding: 0;
  outline: 0!important;
}

.sh_btn {
  height: 24px;
  width: 24px;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:visited {
  color: #003569;
  text-decoration: none;
}

.ed_lbtn {
  background-color: transparent;
  border: solid 1px #dbdbdb;
  color: #262626;
  width: 100%;
  border-radius: 4px;
  position: relative;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.sh_feed {
  border-top: solid 1px #efefef;
  align-items: center;
  color: #999;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.sh_t {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 60px;
}

.sh_t:visited {
  color: #262626;

}

.sh_tag {
  display: flex;
  align-items: center;
}

.tag_icon1, .tag_icon2,
.tag_icon3, .tag_icon4 {
  height: 12px;
  width: 12px;
}

.tag_name {
  margin-left: 6px;
}

.garllery_content {
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.ug {
  max-width: 735px;
  height: 100%;
}

.gallery {
  margin: 0;
  padding: 0;
  flex-wrap: wrap-reverse;
  display: flex;
}

.gallery_items {
  margin-left: 5px;
  margin-top: 5px;
}

.gallery_items img {
  height: 250px;
  width: 150px;
  object-fit: cover;
}
